body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 250px;
  margin: 4;
  background-color: #fff4fe; 
}

.title{
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}

.card {
  text-align: center;
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

h1 {
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

input[type="color"] {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

button {
  background-color: #087169;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  gap: 2px;
  width: 100px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a04589;
}

button:active {
  background-color: #a04589;
}
